$header : linear-gradient(#a04886, #6f4ba7);
$ciem : rgb(89, 71, 139);
$txt : rgb(240, 190, 209);
$foot : rgb(106, 82, 161);
$body : linear-gradient(#eec2ec, #a07be4);
$boxx : rgb(89, 71, 139);
$text2 : rgb(23, 54, 68);