html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.mn {
  width: 100%;
  height: 180px;
}

.tr {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.header {
  background: linear-gradient(#a04886, #6f4ba7);
  align-content: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 120px;
}

.img {
  margin-top: -270px;
  width: 380px;
  height: 300px;
}

.dwH {
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: rgb(89, 71, 139);
  width: 100%;
  height: 60px;
}
.dwH .ods {
  margin-left: 25%;
  color: rgb(240, 190, 209);
}
.dwH .col {
  color: rgb(240, 190, 209);
}

.body1 {
  background: linear-gradient(#eec2ec, #a07be4);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  flex-direction: column;
}
.body1 .wst {
  margin-top: 2%;
  font-size: 200%;
  color: rgb(23, 54, 68);
}
.body1 .img3 {
  margin-top: -3.7%;
  width: 100%;
  height: 10%;
}
.body1 .bod2 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.body1 .bod2 .img2 {
  width: 30%;
  opacity: 0.7;
}
.body1 .bod2 .tex2 {
  font-size: 150%;
  color: rgb(23, 54, 68);
  margin-right: 5%;
  margin-left: 4%;
  margin-top: 4%;
}
.body1 .tex {
  font-size: 150%;
  color: rgb(23, 54, 68);
  margin-right: 4%;
  margin-left: 4%;
  margin-top: -51%;
  margin-bottom: 18%;
}

.bod3 {
  background: linear-gradient(#eec2ec, #a07be4);
  width: 100%;
  height: auto;
}
.bod3 .wst2 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 2%;
  font-size: 200%;
  color: rgb(23, 54, 68);
}
.bod3 .box {
  align-items: center;
  justify-content: center;
  flex-direction: row;
  display: flex;
  width: auto;
  height: auto;
}
.bod3 .box .boxie {
  align-items: center;
  justify-content: center;
  flex-direction: row;
  display: flex;
  width: 75%;
  height: auto;
  flex-direction: column;
}
.bod3 .box .boxie .zdj {
  margin-left: 5%;
  margin-right: 5%;
  width: 30%;
  height: 50%;
  opacity: 0.8;
}
.bod3 .box .boxie .tre {
  font-size: 150%;
  color: rgb(23, 54, 68);
  margin-right: 4%;
  margin-left: 10%;
  margin-top: 1%;
  margin-bottom: 4%;
}

.footer {
  background: rgb(106, 82, 161);
  align-content: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  height: 160px;
}
.footer .ing {
  box-sizing: border-box;
  width: 210px;
  height: 180px;
}
.footer .color {
  color: rgb(240, 190, 209);
}/*# sourceMappingURL=main.css.map */